.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  margin: 24px 16px;
}

button {
  margin: 0 4px;
}

/* Filter section */
div.products-wrapper > div,
div.product--wrapper > div,
div.variant--wrapper > div {
  margin: 8px 0;
}

/* Filter products */
div.products--form-wrapper {
  margin: 0;
}

/* Filter product */
div.product--wrapper {
  margin-left: 0;
  margin-right: 0;
}

ul .product--li {
  background: chartreuse;
  border-bottom: darkgreen 1px solid;
}

ul .product--li:nth-child(2n) {
  background: lightgreen;
}

/* Filter variant */
div.variant--wrapper {
  margin: 0;
  padding: 4px 12px;
  text-align: left;
}
